[build]
  publish = "build/web"
  # Build is done locally and committed to repo
  command = ""

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  FLUTTER_WEB_USE_SKIA = "false"

